<div class="infoMassage">
  {{!-- {{#if userlogIn}} --}}
<div>Hello, {{userlogIn.name}}!
  <ul>
  <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam qui quis atque et odio ducimus dicta labore. Id quisquam accusantium esse alias! Id obcaecati non ad quod esse adipisci harum!</li>
    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam qui quis atque et odio ducimus dicta labore. Id quisquam accusantium esse alias! Id obcaecati non ad quod esse adipisci harum!</li>
  <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam qui quis atque et odio ducimus dicta labore. Id quisquam accusantium esse alias! Id obcaecati non ad quod esse adipisci harum!</li>
  <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam qui quis atque et odio ducimus dicta labore. Id quisquam accusantium esse alias! Id obcaecati non ad quod esse adipisci harum!</li>
  <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam qui quis atque et odio ducimus dicta labore. Id quisquam accusantium esse alias! Id obcaecati non ad quod esse adipisci harum!</li>
  <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam qui quis atque et odio ducimus dicta labore. Id quisquam accusantium esse alias! Id obcaecati non ad quod esse adipisci harum!</li>
  <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam qui quis atque et odio ducimus dicta labore. Id quisquam accusantium esse alias! Id obcaecati non ad quod esse adipisci harum!</li>
  <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam qui quis atque et odio ducimus dicta labore. Id quisquam accusantium esse alias! Id obcaecati non ad quod esse adipisci harum!</li>
  <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam qui quis atque et odio ducimus dicta labore. Id quisquam accusantium esse alias! Id obcaecati non ad quod esse adipisci harum!</li>
  <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam qui quis atque et odio ducimus dicta labore. Id quisquam accusantium esse alias! Id obcaecati non ad quod esse adipisci harum!</li>
  <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam qui quis atque et odio ducimus dicta labore. Id quisquam accusantium esse alias! Id obcaecati non ad quod esse adipisci harum!</li>

</ul></div>
<a href="/user/profile/{{userlogIn.id}}">Продолжить</a>



 {{!-- {{/if}} --}}
</div>
