<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/signUpForm.css">
  <link rel="stylesheet" href="/stylesheets/main.css">
  <link rel="stylesheet" href="/stylesheets/user.css">
  <link rel="stylesheet" href="/stylesheets/infoRoad.css">
  <link rel="stylesheet" href="/stylesheets/userProfile.css">
  <title>Велопрогулка</title>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
 
    type="text/javascript"></script>
  <script defer src='/js/application.js'></script>
  <script defer src='/js/renderHTML.js'></script>
  <script defer src="/js/map.js" type="text/javascript"></script>
  <script defer src='/js/newWay.js'></script>





  {{#if isSignin}}
  <script defer src='/js/signin.js'></script>
  {{/if}}
  {{#if isSignup}}
  <script defer src='/js/signup.js'></script>
  {{/if}}
</head>

<body>
  <header role="banner" class="header">
    <div class="header_section">
      <nav class="clearfix mar-b-1">
        <ul class="no-bullets no-margin no-padding right">
          {{#if username}}
          <li class="pipe-separate t-light-green left"><a href="/user/profile/{{userlogIn.id}}">Hi, {{username}}</a></li>
          <li class="pipe-separate t-light-green left"><a href="/user/signout">LogOut</a></li>
          <li class="pipe-separate t-light-green left"><a href="/">Home</a></li>
          <li class="pipe-separate t-light-green left"><a href="/room/new">New room</a></li>
          {{else }}
          <li class="pipe-separate t-light-green left"><a href='/user/signup'>Registration</a></li>
          <li class="pipe-separate t-light-green left"><a href='/user/signin'>LogIn</a></li>
          <li class="pipe-separate t-light-green left"><a href="/">Home</a></li>
          {{/if}}
        </ul>
      </nav>

  </header>
  

  {{!-- <div class="center"> --}}
    {{{body}}}
  {{!-- </div> --}}
<script 
      src="https://maps.googleapis.com/maps/api/js?key=A-IzaSyDxPuCehSdoeYqwK9Qc_90ZDXyn_joOgr4&callback=initMap&libraries=&v=weekly"
      async
    ></script>
</body>

</html>
