
{{!-- <template></template> --}}
<form name="sendForm">
  <input name="nickname" type="text" placeholder="nickname"required><br/>
  <input name="message" type="text" placeholder="message" required><br/>
  <input name="sendButton" type="submit" disabled  style="height:45px; width:219px">
</form>

<ul data-message>
</ul>